{% from 'marcros/field_attributes.html' import field_attributes with context %}

{% macro table(element, render_element, global_data, page_data) -%}
{% set attribs = update_attributes(element.dataKey, data, element.attributes or {}) %}
<div class="{{element.classes or ''}}" style="{{convert_css(element.styles)}}" {{field_attributes(attribs)}}>
    <div class="h-fit w-full">
        <table class="h-fit w-full border-collapse border-spacing-0">
            {% if element.content %}
                {% for object in element.content %}
                    {{ render_element(object, global_data, page_data) }}
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{%- endmacro %}